name: Build
'on':
  - push
jobs:
  ubuntu-20-04-build-gcc:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: update apt
        run: sudo apt update
      - name: install dependencies
        run: sudo apt install -y cmake gcc g++ libpng-dev libcurl4-gnutls-dev
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
  ubuntu-latest-build-gcc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: update apt
        run: sudo apt update
      - name: install dependencies
        run: sudo apt install -y cmake gcc g++ libpng-dev libcurl4-gnutls-dev
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
  ubuntu-20-04-build-clang:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: update apt
        run: sudo apt update
      - name: install dependencies
        run: sudo apt install -y cmake clang libomp-dev libpng-dev libcurl4-gnutls-dev
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: clang
          CXX: clang++
      - name: make
        run: cd build && make
  ubuntu-latest-build-clang:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: update apt
        run: sudo apt update
      - name: install dependencies
        run: sudo apt install -y cmake clang libomp-dev libpng-dev libcurl4-gnutls-dev
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: clang
          CXX: clang++
      - name: make
        run: cd build && make
  macos-latest-build:
    runs-on: macOS-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: brew install cmake libpng curl
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
  macos-13-build:
    runs-on: macOS-13
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: brew install cmake libpng curl
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
