.leaflet-image-layer, .leaflet-layer, .leaflet-pane, .leaflet-pane>canvas, .leaflet-pane>svg, .leaflet-tile, .leaflet-tile-container, .leaflet-zoom-box {
    position: absolute;
    left: 0;
    top: 0
}

.leaflet-container {
    overflow: hidden
}

.leaflet-tile {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}

.leaflet-tile::selection {
    background: 0 0
}

.leaflet-safari .leaflet-tile {
    image-rendering: -webkit-optimize-contrast
}

.leaflet-safari .leaflet-tile-container {
    width: 1600px;
    height: 1600px;
    -webkit-transform-origin: 0 0
}

.leaflet-container .leaflet-overlay-pane svg, .leaflet-container .leaflet-shadow-pane img, .leaflet-container .leaflet-tile, .leaflet-container .leaflet-tile-pane img, .leaflet-container img.leaflet-image-layer {
    max-width: none !important;
    max-height: none !important
}

.leaflet-container.leaflet-touch-zoom {
    -ms-touch-action: pan-x pan-y;
    touch-action: pan-x pan-y
}

.leaflet-container.leaflet-touch-drag {
    -ms-touch-action: pinch-zoom;
    touch-action: none;
    touch-action: pinch-zoom
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none
}

.leaflet-container {
    -webkit-tap-highlight-color: transparent
}

.leaflet-container a {
    -webkit-tap-highlight-color: rgba(51, 181, 229, .4)
}

.leaflet-tile {
    filter: inherit;
    visibility: hidden
}

.leaflet-tile-loaded {
    visibility: inherit
}

.leaflet-zoom-box {
    width: 0;
    height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 800
}

.leaflet-overlay-pane svg {
    -moz-user-select: none
}

.leaflet-pane {
    z-index: 400
}

.leaflet-tile-pane {
    z-index: 200
}

.leaflet-overlay-pane {
    z-index: 400
}

.leaflet-shadow-pane {
    z-index: 500
}

.leaflet-marker-pane {
    z-index: 600
}

.leaflet-tooltip-pane {
    z-index: 650
}

.leaflet-popup-pane {
    z-index: 700
}

.leaflet-map-pane canvas {
    z-index: 100
}

.leaflet-map-pane svg {
    z-index: 200
}

.leaflet-vml-shape {
    width: 1px;
    height: 1px
}

.lvml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute
}

.leaflet-control {
    position: relative;
    z-index: 800;
    pointer-events: visiblePainted;
    pointer-events: auto
}

.leaflet-bottom, .leaflet-top {
    position: absolute;
    z-index: 1000;
    pointer-events: none
}

.leaflet-top {
    top: 0
}

.leaflet-right {
    right: 0
}

.leaflet-bottom {
    bottom: 0
}

.leaflet-left {
    left: 0
}

.leaflet-control {
    float: left;
    clear: both
}

.leaflet-right .leaflet-control {
    float: right
}

.leaflet-top .leaflet-control {
    margin-top: 10px
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 10px
}

.leaflet-left .leaflet-control {
    margin-left: 10px
}

.leaflet-right .leaflet-control {
    margin-right: 10px
}

.leaflet-fade-anim .leaflet-tile {
    will-change: opacity
}

.leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1
}

.leaflet-zoom-animated {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    will-change: transform
}

.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
    -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1);
    transition: transform .25s cubic-bezier(0, 0, .25, 1)
}

.leaflet-pan-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-tile {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none
}

.leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden
}

.leaflet-interactive {
    cursor: pointer
}

.leaflet-grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab
}

.leaflet-control, .leaflet-popup-pane {
    cursor: auto
}

.leaflet-dragging .leaflet-grab, .leaflet-dragging .leaflet-grab .leaflet-interactive {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing
}

.leaflet-image-layer, .leaflet-pane>svg path, .leaflet-tile-container {
    pointer-events: none
}

.leaflet-image-layer.leaflet-interactive, .leaflet-pane>svg path.leaflet-interactive, svg.leaflet-image-layer.leaflet-interactive path {
    pointer-events: visiblePainted;
    pointer-events: auto
}

.leaflet-container {
    background: #ddd;
    outline: 0
}

.leaflet-container a {
    color: #0078a8
}

.leaflet-container a.leaflet-active {
    outline: 2px solid orange
}

.leaflet-zoom-box {
    border: 2px dotted #38f;
    background: rgba(255, 255, 255, .5)
}

.leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
    border-radius: 4px
}

.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000
}

.leaflet-bar a, .leaflet-control-layers-toggle {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block
}

.leaflet-bar a:hover {
    background-color: #f4f4f4
}

.leaflet-bar a:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: none
}

.leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: #f4f4f4;
    color: #bbb
}

.leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    text-indent: 1px
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size: 22px
}

.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: rgba(255, 255, 255, .7);
    margin: 0
}

.leaflet-control-attribution {
    padding: 0 5px;
    color: #333
}

.leaflet-control-attribution a {
    text-decoration: none
}

.leaflet-control-attribution a:hover {
    text-decoration: underline
}

.leaflet-container .leaflet-control-attribution {
    font-size: 11px
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers {
    box-shadow: none
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
    border: 2px solid rgba(0, 0, 0, .2);
    background-clip: padding-box
}

.leaflet-popup {
    position: absolute;
    text-align: center;
    margin-bottom: 20px
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4
}

.leaflet-popup-content p {
    margin: 18px 0
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none
}

.leaflet-popup-tip {
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #fff;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, .4)
}

.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 5px 0 0;
    border: none;
    text-align: center;
    width: 22px;
    height: 18px;
    font: 24px/22px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: 700;
    background: 0 0
}

.leaflet-container a.leaflet-popup-close-button:hover {
    color: #999
}

.leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

body, html {
    height: 100%;
    width: 100%
}

tt {
    letter-spacing: -.5px
}

#attr-tbl tr {
    background-color: #c0f7c0
}

.stat-label {
    white-space: nowrap;
    background: 0 0
}

#attr-tbl .err-10 {
    background-color: red
}

#attr-tbl .err-9 {
    background-color: #ff1010
}

#attr-tbl .err-8 {
    background-color: #f92424
}

#attr-tbl .err-7 {
    background-color: #f93838
}

#attr-tbl .err-6 {
    background-color: #f56262
}

#attr-tbl .err-5 {
    background-color: #f38484
}

.attr-err-info {
    margin-top: 5px;
    font-size: 13px;
    font-style: italic
}

.leaflet-popup-content-wrapper {
    border-radius: 5px
}

#attr-tbl .err-wrap {
    max-height: 100px;
    display: block;
    overflow-y: auto
}

#attr-tbl {
    margin-top: 10px;
    width: 100%
}

.nmt, .omt, .sugtit {
    font-style: normal;
    font-weight: 700
}

#gsn, #gso {
    margin-top: 8px;
    padding-top: 4px;
    border-top: solid 1px #aaa
}

#gsn div {
    background-color: #b6b6e4;
    border-left: solid 4px #00f;
    padding: 2px;
    margin: 2px;
    padding-left: 5px
}

#gso div {
    border-left: solid 4px #78f378;
    padding: 2px;
    margin: 2px;
    padding-left: 5px
}

#sugg {
    margin-top: 8px;
    padding-top: 4px;
    border-top: solid 1px #aaa;
    color: #0000c3
}

#sugg ul {
    padding: 5px;
    margin: 5px;
    padding-top: 0
}

#m, main {
    width: 100%;
    height: 100%
}

#m {
    cursor: pointer;
}

.leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 5px;
}

.leaflet-control-layers-toggle {
    text-decoration: none;
    text-align: center;
    width: 36px;
    height: 36px;
    color: black;
}

.leaflet-control-layers-toggle:after {
    content: "🗺";
    line-height: 45px;
    font-size: 25px;
    color: black;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(images/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
}

.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}

.leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
}

.leaflet-control-layers-scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
}

.leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
}

.leaflet-control-layers label {
    display: block;
    font-size: 13px;
    font-size: 1.08333em;
}

.leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

h1, #msg-heading {
    font: 1.5em sans-serif;
    margin-bottom: 40px;
    opacity: 0.8;
}

#msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border-radius: 4px;
    background-color: white;
    border: solid 1px black;
    text-align: center;
    z-index: 99999;
    padding: 50px;
}

#msg-info-heading {
    font-weight: bold;
}

#msg-info-desc {
    margin-bottom: 40px;
}

#msg-error {
    font: 0.9em mono;
    text-align: left;
    background-color: #fefefe;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.leaflet-popup-content img {
    width: 200px;
}

.leaflet-popup-content a {
    border: none;
}

#ex {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

#stats {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    font-size: 80%;
    border-radius: 5px;
    opacity: 0.8;
    background: white;
}

#load-status {
    display: none;
    width: 100%;
    background-color: white;

    border-radius: 4px;
    border: solid 1px black;
}

#load-bar {
    grid-column: 1;
    grid-row: 1;

    width: 0%;
    height: 30px;
    background-color: black;
    transition: width 400ms;
    transition-timing-function: linear;
}

#load-percent {
    grid-column: 1;
    grid-row: 1;

    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: white;
    mix-blend-mode: difference;
}

#load-spinner {
    position: absolute;
    right: 8px;
    top: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

#stats span {
    padding: 5px;
}

#ex button {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    background-color: white;
}

#ex button:hover {
    background-color: #f4f4f4;
}

.export-link {
    font-size: 80%;
}
